html, body{
    overflow: hidden;
    height: 100vh;
    margin: 0;
    font-family: 'Arima Madurai', cursive;
    font-family: 'Comfortaa', cursive;
    font-family: 'Glory', sans-serif;
    font-family: 'Marck Script', cursive;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Noto Sans', sans-serif;
    font-family: 'Noto Sans Mono', monospace;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Orelega One', cursive;
    font-family: 'Press Start 2P', cursive;
    font-family: 'PT Sans', sans-serif;
}
.wrapper{
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    overflow: hidden;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}
.fon__image{
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    object-fit: cover;
}
.container__box{
    width: 50%;
    height: 100%;
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
}
.container{
    width: 80%;
    height: 55vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #BDD4F2;
    margin-top: 3vh;
    margin-bottom: 3vh;
    border-radius: 20px;
    border: 10px solid white;
    box-sizing: border-box;
}
.flag__box{
    width: 80%;
    height: 80%;
    position: relative;
    background-color: #BDD4F2;
    box-shadow: 9px 9px 21px -15px rgba(34, 60, 80, 0.23);
}
.flag{
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    object-fit: fill;
}
.btns__container{
    width: 80%;
    height: 35vh;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
.btn{
    height: 44%;
    width: 44%;
    margin: 0.5rem;
    font-size: 2vw;
    text-decoration: none;
    color: #ffffff;
    background-color: #4F5C88;
    border-radius: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    word-break: break-word;
    text-align: center;
    /* display: none; */
}
.btn:active {
    text-decoration: none;
    background-color: #5E6B98;
}
.land__info__box{
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    /* display: flex; */
    align-items: center;
    justify-content: center;
    flex-direction: column;
    display: none;
    background-color: #BDD4F2;
    z-index: 2;
    display: none;
}
.land_info_box_container{
    width: 100%;
    height: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 3;
    background-color: #BDD4F2;
    font-size: 3vh;
    text-align: center;
}
.score__container{
    position: absolute;
    left: 3vh;
    top: 3vh;
    width: 15vw;
    height: 10vh;
    background-color: #D9AD5B;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.timer__container{
    position: absolute;
    left: 3vh;
    top: 15vh;
    width: 15vw;
    height: 5vh;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.timer__slider{
    width: 100%;
    height: 100%;
    background-color: #02705C;
}
.star{
    height: 80%;
}
.player__Points{
    width: 30%;
    font-size: 2vw;
    text-align: center;
    color: white;
    font-weight: 800;
}
.message{
    position: absolute;
    z-index: 3;
    width: 100%;
    height: 22%;
    left: 0;
    top: 39%;
    color:white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 5vw;
    font-weight: 900;
    /* background-color: #A30312; */
    background-color: #02705C;
    display: none;
}

@media(max-width:1000px) {
    .container__box{
        width: 100%;
        padding: 0 3vh;
    }
    .container{
        width: 100%;
        height: 46vh;
        margin-top: 13vh;
    }
    .flag__box{
        height: 50%;
    }
    .score__container{
        width: 30vw;
        height: 7vh;
    }
    .player__Points{
        font-size: 4.1vw;
    }
    .btns__container{
        width: 100%;
    }
    .btn{
        padding: 5px;
        font-size: 5vw;
        height: 38%;
    }
    .message{
        font-size: 10vw;
    }
    .timer__container{
        top: 3vh;
        left: auto;
        right: 3vh;
        width: 30vw;
        height: 7vh;
    }
    .star{
        height: 60%;
    }
}


/* --------------------------------------------------  Mobile Horizontal -------------------------*/

@media(max-height:500px) {
    .btn{
        font-size: 2vw;
    }
    .flag__box{
        height: 80%;
        width: 35%;
    }
    .score__container{
        width: 12vw;
        height: 7vh;
    }
    .player__Points{
        font-size: 1.5vw;
    }
    .container{
        margin-bottom: 5px;
    }
    .message{
        font-size: 8vw;
    }
    .land_info_box_container{
        font-size: 6vh;
    }
}